.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  align-items: left;
  justify-content: left;
  padding-left: calc(1vmin);
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: left;
}

.App-body > * {
  border-style: solid;
  border-color: #282c34;
  border-radius: 5px;
  border-width: medium;
}

.leaflet-container {
  height: 400px;
  width: 79%;
}

.info {
  width: 25%;
}

.stats {
  width: 20%;
}

.stat-label {
  text-transform: capitalize;
}

td {
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
